<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Título de la página</title>
	<!-- Aquí irían las referencias a los estilos CSS -->
</head>
<body>
	<header th:fragment="header">
		<!-- Aquí iría el contenido de la cabecera -->
		<nav class="navbar navbar-dark bg-dark fixed-top">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#">Kudeaketa APP</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
		      <div class="offcanvas-header">
		        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		      </div>
		      <div class="offcanvas-body">
		        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
		          <li class="nav-item">
		            <a class="nav-link active" aria-current="page" href="#">Login</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="#">Register</a>
		          </li>
		        </ul>
		      </div>
		    </div>
		  </div>
		</nav>
	</header>
	<!-- Aquí iría el contenido principal de la página -->
	<main>
		<!-- Aquí iría el contenido principal de la página -->
		
	</main>
	<!-- Aquí irían los scripts JavaScript -->
</body>
</html>
